


body {
    background-color: #ffffff; 
/* background-color: red; */
}


.sub{
    color: #c8c5c5;
}

#total-medicines  {
    background-color: #22ffcd;
}


#allopathy-medicines .card-header {
    background-color: #72eaff;
}

#ayurvedic-medicines .card-header {
    background-color: #42f7a2;
}

#homeo-medicines .card-header {

    background-color: #d8a5ff;
}


.card-header {
    background-color: #22ffcd;
}