


body {
    background-color: #f5f1f1;
}


.sub{
    color: #c8c5c5;
}

#total-medicines {
    background-color: #90f1ba;
}

#orders-pending {
    background-color: #efd487;
}

#orders-pending {
    background-color: #efd487;
}


.card-header {
    background-color: #90f1ba;
}