{% extends 'main.html' %}

{% block content%}

{% include 'status.html' %}

<br>

<div class="container-fluid">
    {% comment %} row {% endcomment %}
    <div class="row">

        <div class="col-md-7 ">
            <h6 class="mt-3">RECENTLY ADDED </h6>
            <hr>
            <div class="card card-body">
                <table class="table table-sm">
                    <tr>
                        <th>Medicine</th>
                        <th>Category</th>
                        <th>Date Added</th>
                        <th>Update</th>
                        <th>Remove</th>
                    </tr>

                    {% for medicine in medicines %}
                    <tr>
                        <td> {{medicine.name}} </td>
                        <td> {{medicine.category}} </td>
                        <td> {{medicine.date_created}} </td>
                        <td><a href="{% url 'update_medicine' medicine.id %}"
                                class="btn btn-sm btn-outline-info">Update</a>
                        </td>
                        <td><a href="{% url 'delete_medicine' medicine.id %}"
                                class="btn btn-sm btn-outline-secondary">Delete</a>
                        </td>
                    </tr>
                    {% endfor %}

                    <tr>
                        <td>
                            <a href="{% url 'list_medicine'%}">See all&raquo;</a>

                        </td>

                    </tr>

                </table>

            </div>

        </div>


        <div class="col-md-5">


            <h6 class="mt-3">ADD MEDICINE </h6>
            <hr>

            <form action="{% url 'create_medicine' %}" method="POST">


                {% include 'fields.html' %}

                <div class="card card-body">

                    <button type="submit" name='ADD' class="btn btn-primary btn-sm btn-block">ADD </button>

                </div>
            </form>

        </div>









    </div>




</div>



</div>



{% endblock %}