{% extends 'main.html' %}

{% load static %}

{% block search %}

{% include 'search.html' %} 

{% endblock %}



{% block content%}

<div class="row">
    <div class="col-md">
        <div class="card card-body">

            {% comment %} <div class="form-group">
                <input type="text" id="searchField" class="form-control" placeholder=' Search Medicines '>
            </div> {% endcomment %}
            <br>

         <form  action = "{% url 'list_medicine' %}" method = "get" class="form-outline" data-mdb-input-init  >

                <input type="search" id="searchField2" class="form-control" placeholder="Search Medicines..." aria-label="Search"  name = "search"/>
            <form> 

        </div>

        <div id="list" class="card card-body">

            <table class="table ">
                <tr>
                    <th>Medicine</th>
                    <th>Category</th>
                    <th>Description</th>
                    <th>Price</th>
                    <th>Date Added</th>
                    <th>Update</th>
                    <th>Remove</th>
                </tr>


                {% for medicine in medicines %}
                <tr>
                    <td> {{medicine.name}} </td>
                    <td> {{medicine.category}} </td>
                    <td> {{medicine.description}} </td>
                    <td> {{medicine.price}} </td>
                    <td> {{medicine.date_created}} </td>
                    <td  class='px-4'><a href="{% url 'update_medicine' medicine.id %}" class="btn btn-sm btn-info"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a></td>
                    <td class='px-4'><a href="{% url 'delete_medicine' medicine.id %}" class="btn btn-sm btn-danger"><i class="fa fa-trash" aria-hidden="true"></i></a></td>
                </tr>
                {% endfor %}

            </table>

        </div>


        <div id="searchList" class="card card-body">
            <table class="table">
                <tr>
                    <th>Medicine</th>
                    <th>Category</th>
                    <th>Description</th>
                    <th>Price</th>
                    <th>Date Added</th>
                    <th>Update</th>
                    <th>Remove</th>
                </tr>
                <tbody id="tbody">

                </tbody>

            </table>
        </div>



    </div>

</div>

<script src="{% static 'js/search.js' %}"></script>


{% endblock %}