{% load static %}

<style>
  .hello-msg {
    font-size: 15px;
    color: #fff;
    margin-right: 20px;

  }
  {% comment %} .navbar{
    background:#22ffcd;

  }
  .nav-link{
    color:rgb(255, 255, 255);
    font-weight: bolder;

  }
  .nav-link:hover{
    color:rgb(185, 183, 183);
    font-weight: bolder;

  } {% endcomment %}

</style>

<nav class="navbar navbar-expand-sm navbar-light ">
  <div class="container-fluid">

    <a class="navbar-brand" href="#">
      <img src="{% static 'images/med_logo.png' %}" height='40' width='80' alt="">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
      aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarText">

      <ul class="navbar-nav me-auto">

        <li class="nav-item ">
          <a class="nav-link" href="{% url 'home' %}">Dashboard <span class="sr-only"></span></a>
        </li>
        <li class="nav-item ">
          <a class="nav-link" href="{% url 'list_medicine'%}">Medicines</a>
        </li>

      </ul>

      <ul class="navbar-nav me-5">

        <span class="navbar-text "> Hello {{request.user}} &nbsp&nbsp    </span>
        <a class="nav-link" href="{% url 'logout' %}"><i class="fa fa-sign-out" aria-hidden="true"></i>Logout</a>

      </ul>

    </div>

  </div>

</nav>
<hr>
<div class="hr"></div>


