<br>
<div class="container-fluid">

    <div class="row">


        <div class="col-4">
            <div class="col-md">
                <div class="card text-center text-white mb-3 " id="total-medicines">
                    <div class="card-header">
                        <h5 class="card-title ">Total Medicines</h5>
                    </div>
                    <div class="card-body">
                        <h3 class="card-title " >{{total_medicines}}</h3>
                    </div>

                </div>
            </div>
        </div>





            <div class="col">
                <div class="col-md">
                    <div class="card text-center text-white mb-3" id="allpathy-medicines">
                        <div class="card-header">
                            <h5 class="card-title">Allopathy </h5>
                        </div>
                        <div class="card-body">
                            <h3 class="card-title sub">{{allo_medicines}}</h3>
                        </div>
                    </div>
                </div>
            </div>




            <div class="col">
                <div class="col-md">
                    <div class="card text-center text-white mb-3 " id="ayurvedic-medicines">
                        <div class="card-header">
                            <h5 class="card-title">Ayurveda </h5>
                        </div>
                        <div class="card-body">
                            <h3 class="card-title sub">{{ayur_medicines}}</h3>
                        </div>
                    </div>
                </div>
            </div>




            <div class="col">
                <div class="col-md">
                    <div class="card text-center text-white mb-3 " id="homeo-medicines">
                        <div class="card-header">
                            <h5 class="card-title ">Homeo </h5>
                        </div>
                        <div class="card-body">
                            <h3 class="card-title sub">{{homeo_medicines}}</h3>
                        </div>
                    </div>
                </div>
            </div>







       
    </div>

</div>